<ul class="social">

    <!-- Twitter -->
    <li class="navigation__item">
        <a href="http://twitter.com/andreborud" title="@AndreBorud on Twitter">
            <i class='icon fi-social-twitter'></i>
            <span class="label">Twitter</span>
        </a>
    </li>

    <!-- Google Plus -->
    <li class="navigation__item">
        <a href="https://plus.google.com/+Andr%C3%A9Borud/posts" title="+AndréBorud on Google Plus">
            <i class='icon fi-social-google-plus'></i>
            <span class="label">Google Plus</span>
        </a>
    </li>

    <!-- Facebook -->
    <li class="navigation__item">
        <a href="https://www.facebook.com/andreborud" title="André Borud on Facebook">
            <i class='icon fi-social-facebook'></i>
            <span class="label">Facebook</span>
        </a>
    </li>

    <!-- Behance -->
    <li class="navigation__item">
        <a href="https://www.behance.net/andre_borud" title="André Borud on Behance">
            <i class='icon fi-social-behance'></i>
            <span class="label">Behance</span>
        </a>
    </li>

    <!-- Youtube -->
    <li class="navigation__item">
        <a href="https://www.youtube.com/user/andreborud" title="André Borud on Youtube">
            <i class='icon fi-social-youtube'></i>
            <span class="label">Youtube</span>
        </a>
    </li>

    <!-- tumblr -->
    <li class="navigation__item">
        <a href="http://dctr.tumblr.com/" title="André Borud on tumblr">
            <i class='icon fi-social-tumblr'></i>
            <span class="label">tumblr</span>
        </a>
    </li>

    <!-- Github -->
    <li class="navigation__item">
        <a href="https://github.com/andreborud" title="André Borud on Github">
            <i class='icon fi-social-github'></i>
            <span class="label">Github</span>
        </a>
    </li>

    <!-- Vimeo -->
    <li class="navigation__item">
        <a href="https://vimeo.com/andreborud" title="André Borud on Vimeo">
            <i class='icon fi-social-vimeo'></i>
            <span class="label">Vimeo</span>
        </a>
    </li>

    <!-- Instagram -->
    <li class="navigation__item">
        <a href="http://instagram.com/phacer" title="André Borud on Instagram">
            <i class='icon fi-social-instagram'></i>
            <span class="label">Instagram</span>
        </a>
    </li>

    <!-- Instagram -->
    <li class="navigation__item">
        <a href="https://www.linkedin.com/in/andreborud" title="André Borud on Linkedin">
            <i class='icon fi-social-linkedin'></i>
            <span class="label">Linkedin</span>
        </a>
    </li>
</ul>
